@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #1E3E62;
    --cor-terciaria: #0B192C;
    --cor-quaternaria: #EEEEEE;
    --cor-quinaria: #FF6500;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding-top: 7rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-terciaria); 
    padding: 20px 0;
    z-index: 1000; 
}

.head_page {
    padding: 2% 0% 0% 18%;
    display: flex;
    gap: 80px;
}

.head_page_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-quinaria);
    text-decoration: none;
    font-size: 2rem;
}


.certifications-container {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

.certifications-container h1{
    color: var(--cor-quinaria);
    font-family: var(--fonte-secundaria);
    margin-bottom: 20px;
}

.certifications-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-x: auto; 
}

.pdf-viewer {
    width: 19%;
    min-width: 250px;
    height: 300px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.footer_page{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--cor-quaternaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.footer_page a{
    color: var(--cor-quinaria);
    text-decoration: none;
}